<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aapointagain">

    <application
        android:allowBackup="true"
        android:icon="@drawable/firstaid1"
        android:label="Appsolute"
        android:roundIcon="@drawable/firstaid1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditAppointmentEnterDetails"></activity>
        <activity android:name=".EditAppointmentSearch" />
        <activity android:name=".recylceViewAt1" />
        <activity android:name=".ViewAppointmentSearch" />
        <activity android:name=".ViewAppointmentOptions" />
        <activity android:name=".EnterDetailsForAppointment" />
        <activity android:name=".DateSelect" />
        <activity android:name=".DiagnosisList" />
        <activity android:name=".DoctorsList" />
        <activity android:name=".MakeAppointmentOptions" />
        <activity android:name=".OptionsMain" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>